 /* Regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(255, 255, 254);
}

header{
    text-align: center;
    margin-top: 30px;
}

header h1{
    color: rgb(229, 49, 112);
}

header p{
    margin: auto;
    padding: 50px;
    padding-top: 40px;
    padding-bottom: 30px;
    width: 80%;
    font-weight: lighter;
}

/* Regole griglia */

main{
    margin: 30 0;
}

.structure{
    width: 73%;
    margin:0 auto;
}

.row{
    height: 90px;
}

/* clearfix */
.row::after{
    content: "";
    display: table;
    clear:both;
}

.colonna{
    float: left;
    width: calc(100% /3);
    min-height: 90px;
    border: solid 10px white; 
    background-color: rgb(15, 14, 23);
    padding-left: 0;
    padding-right: auto;
    padding-top: 0;
    padding-bottom: 0;
    box-shadow: 5px 10px;
}


.contenuto-colonna{
    height: 90px;

}



img{
    height: 90px;
    margin-right: 15px;
}

span{
    display: inline-block;
    color: white;
    font-size: 15px;
    position: absolute;
    margin-top: 10px;
    font-weight: bold;
}

.contenuto-colonna p{
    display: inline-block;
    color: white;
    position: absolute;
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight:lighter;
}

.email{
    font-size: 12px;
    color:aqua;
}

.structure2{
    width: 73%;
    margin:0 auto;
}