 /* Regole generali */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Fredoka', sans-serif;
    background-color: rgb(255, 255, 254);
}

header{
    text-align: center;
    margin-top: 30px;
}

header h1{
    color: rgb(229, 49, 112);
}

header p{
    margin: auto;
    padding: 50px;
    width: 80%;
}

/* Regole griglia */

main{
    margin: 30 0;
}

.structure{
    width: 71%;
    margin:0 auto;
}

.row{
    background-color: rgb(15, 14, 23);
}

/* clearfix */
.row::after{
    content: "";
    display: table;
    clear:both;
}

.colonna{
    float: left;
    width: calc(100% /3);
    min-height: 90px;
    border: solid 5px white; 
}